@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/public/fonts/glyphicons-halflings-regular.woff');
}

h1 {
	font-size: 33px;
	margin-top: 18px;
	margin-bottom: 9px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 300;
  	line-height: 1.1;
  	color: #444444;
}

body {
	font-weight: 200;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #777777;
}

.organisation-list-item {
	list-style: none;
    height: 12rem;
    display: inline-block;
    background: #fcfcfc;
    border: 0px;
    text-align: left;
    font-size: 1.25rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    width: 12rem;
    color: #444444;
    vertical-align: top;
    text-decoration: none;
}

.glyphicon {
	position: relative;
  	top: 1px;
  	display: inline-block;
  	font-family: 'Glyphicons Halflings';
  	line-height: 1;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
  	font-weight: normal;
}
.glyphicon-bullhorn:before {
  content: "\e122";
}

a.organisation {
	color: #444444;
	text-decoration: none;

}

.organisations-chooser {
	margin-top: 2rem;
}

img.logo {
	height: 12rem;
	width: 12rem;
	margin-bottom: 1rem;
}

a.new-organisation {
	display: inline-block;
	color: #444444;
	width: 100%;
	font-size: 3rem;
	vertical-align: middle;
	text-decoration: none;

}
.add-icon {
	display: inline-block;
	font-size: 6rem;

}

.add-icon:hover {
	text-decoration: none;

}
a.organisation:hover, a.new-organisation:hover {
	color: red;
}


/*.organisation-chooser {
	width: 50%;
}*/